<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>{{msg}}</p>
    <hr>
    <cpn :propa="a" :propb="b" @cpnachange="appachange" @cpnbchange="appbchange"></cpn>
  </div>
</body>
</html>

<template id="cpn">
  <div>
    <p>我是cpn p</p>
    <p>我是父组件传到子组件的props a: {{propa}}</p>
    <p>我是父组件传到子组件的data a: {{cpna}}</p>

    <input type="text" v-model="cpna">

    <p>我是父组件传到子组件的props b: {{propb}}</p>
    <p>我是父组件传到子组件的data a: {{cpnb}}</p>

    <input type="text" v-model="cpnb">
  </div>
</template>

<script src="js/vue.js"></script>
<script>

  const cpn = {
    template: "#cpn",
    props: ["propa", "propb"],
    data(){
      return {
        cpna: this.propa,
        cpnb: this.propb,
      }
    },
    watch: {
      cpna(newvalue){
        this.cpnb = newvalue * 10;
        this.$emit("cpnbchange", this.cpnb)
      },
      cpnb(newvalue){
        this.cpna = newvalue / 10;
        this.$emit("cpnachange", this.cpna)
      },     
    }
  }

  const app = new Vue({
    el: "#app",
    data: {
      msg: "hello watch",
      a: 100,
      b: 200,
    },
    components: {
      cpn,
    },
    methods: {
      appachange(value){
        this.a = value;
      },
      appbchange(value){
        this.b = value;
      },     
    }
  })

</script>